* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("images/switchboard_bkgd.jpg");
}

#container {
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  /*display: none;*/
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
}

#user_list {
  font-family: "Bodoni 72 Oldstyle", Georgia, serif;
  top: 120px;
  position: absolute;
}

.user01 {
  color: black;
}

.user02 {
  color: firebrick;
}

.user03 {
  color: navy;
}

.user04 {
  color: darkgreen;
}

.user05 {
  color: darkviolet;
}

.user06 {
  color: darkred;
}

.user07 {
  color: brown;
}

.user08 {
  color: midnightblue;
}

.user09 {
  color: teal;
}

.user10 {
  color: purple;
}
#chat_main {
  font-family: "Bodoni 72 Oldstyle", Georgia, serif; 
  top: 180px;
  min-height: 200px;
  max-height: 540px;
  left: 0;
  width: 80%;
  position: absolute;
  overflow: auto;
}

footer {
  border-top: 1px solid #000;
  top: 660px;
  width: 80%;
  position: absolute;
}

ul {
  padding-left: 0pt;
}