@font-face {
  font-family: 'League Gothic';
  src: url('fonts/leaguegothic-regular-webfont.eot');
  src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'League Gothic Condensed';
  src: url('fonts/leaguegothic-condensed-regular-webfont.eot');
  src: url('fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
       url('fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
       url('fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('fonts/GT-Walsheim-Pro-Trial-Regular.otf') format('opentype');
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  font-size: 62.5%; /* The Snook Font Size */
}

body {
  background-image: url("images/switchboard_bkgd.jpg");
  background-size: 170%;
}

#container {
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  /*display: none;*/
  font-family: 'Abril Fatface', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
  color: cornflowerblue;
}

h1 {
  margin: 2px 0;
  font-size: 30px;
  font-size: 3.0rem;
}

h2 {
  margin: 2px 0;
  font-size: 20px;
  font-size: 2.0rem;
}

#user_list {
  font-family: "Montserrat", Georgia, serif;
  top: 120px;
  position: absolute;
}

.user0 {
  color: black;
}

.user1 {
  color: firebrick;
}

.user2 {
  color: purple;
}

.user3 {
  color: darkgreen;
}

.user4 {
  color: darkred;
}

.user5 {
  color: navy;
}

.user6 {
  color: darkviolet;
}

.user7 {
  color: brown;
}

.user8 {
  color: midnightblue;
}

.user9 {
  color: teal;
}

.timestamp {
  color: #777777;
  font-family: "Courier New", monospace;
  /* The Snook Font Size */
  font-size: 10px;
  font-size: 1.0rem;
}

.username {
  /* The Snook Font Size */
  font-size: 16px;
  font-size: 1.6rem;
}

.text {
  /* The Snook Font Size */
  font-size: 16px;
  font-size: 1.6rem;
}

#chat_main {
  font-family: "Montserrat", "Helvetica Neue", serif; 
  top: 80px;
  min-height: 200px;
  max-height: 492px;
  left: 0;
  width: 80%;
  position: absolute;
  overflow: auto;
}

footer {
  border-top: 1px solid #000;
  top: 572px;
  width: 80%;
  position: absolute;
  padding: 10px 0;
}

#name_input {
  font-size: 40px;
  font-size: 4.0rem;
  width: 25%;
  margin-right: 1.5%;
}

#input_box {
  font-size: 40px;
  font-size: 4.0rem;
  width: 73%;
}

#credits {
  font-size: 10px;
  font-size: 1.0rem;
  font-family: "Abril Fatface", serif;
}

#credits a {
  color: cornflowerblue;
  text-decoration: none;
}

ul {
  padding-left: 0pt;
}